<div class="container mt-3">
  <h1>Book your instrument</h1>
  <p><%= @instrument.instrument_type %> - <%= @instrument.model %></p>
  <br>
  <%= link_to "Back to instrument", instrument_path(@instrument) %>
</div>
