<div id="carouselExampleSlidesOnly" class="carousel slide fixed-top" data-bs-ride="carousel" style="z-index:-1">
  <div class="carousel-inner">
    <div class="overlay">
      <h1>AirInstruments</h1>
      <p>Change your life and learn to play piano.</p>
      <div class="container">
        <div class="row mx-auto col-md-6">
          <%= simple_form_for :search, url: instruments_path, method: "GET" do |f| %>
            <div class="search-form-control form-group">
              <%= f.input :instrument_type, input_html: { placeholder: "Piano", value: ""} %>
              <%= f.submit "Search", class: "btn btn-flat" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1593697972672-b1c1902219e4?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" class="d-block vh-100" alt="Guitar playing">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1593698054590-a5b3a19565a3?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" class="d-block vh-100" alt="Keyboard">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1568827441677-6ff357080055?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGd1aXRhcnN8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=900" class="d-block vh-100" alt="Guitar">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1583906326458-5eb89bf0f911?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987" class="d-block vh-100" alt="Dj deck">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1581283869631-baae04233b04?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987" class="d-block vh-100" alt="Saxophone">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1644183740392-f3e394397683?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774" class="d-block vh-100" alt="Controller">
    </div>
  </div>
</div>
